## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers
import random
from sklearn.preprocessing import OneHotEncoder
#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [3]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [5]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]

print(y_df)

     Attrition              Department
0          Yes                   Sales
1           No  Research & Development
2          Yes  Research & Development
3           No  Research & Development
4           No  Research & Development
...        ...                     ...
1465        No  Research & Development
1466        No  Research & Development
1467        No  Research & Development
1468        No                   Sales
1469        No  Research & Development

[1470 rows x 2 columns]

In [7]:
# Create a list of at least 10 column names to use as X data
# Columns to exclude
exclude_columns = ['Attrition', 'Department']

# Get the list of columns excluding the ones we don't want
available_columns = [col for col in attrition_df.columns if col not in exclude_columns]

# Select 10 random columns
random_columns = random.sample(available_columns, 10)

# Create X_df using your selected columns

X_df=attrition_df[random_columns]

# Show the data types for X_df

X_df.dtypes

JobSatisfaction              int64
BusinessTravel              object
StockOptionLevel             int64
YearsWithCurrManager         int64
PerformanceRating            int64
DistanceFromHome             int64
NumCompaniesWorked           int64
RelationshipSatisfaction     int64
EnvironmentSatisfaction      int64
Education                    int64
dtype: object

In [9]:
# Split the data into training and testing sets
#from sklearn.model_selection import train_test_split

#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
# Split the data into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)



# Now you can use X_train, X_test, y_train, and y_test for further processing

In [15]:
# Convert your X data to numeric data types however you see fit
# Convert columns to numeric data types
X_df = X_df.apply(pd.to_numeric, errors='coerce')

# Add new code cells as necessary
X_df.value_counts

<bound method DataFrame.value_counts of       JobSatisfaction  BusinessTravel  StockOptionLevel  YearsWithCurrManager  \
0                   4             NaN                 0                     5
1                   2             NaN                 1                     7
2                   3             NaN                 0                     0
3                   3             NaN                 0                     0
4                   2             NaN                 1                     2
...               ...             ...               ...                   ...
1465                4             NaN                 1                     3
1466                1             NaN                 1                     7
1467                2             NaN                 1                     3
1468                2             NaN                 0                     8
1469                3             NaN                 0                     2

      PerformanceRating  DistanceFromHome  NumCompaniesWorked  \
0                     3                 1                   8
1                     4                 8                   1
2                     3                 2                   6
3                     3                 3                   1
4                     3                 2                   9
...                 ...               ...                 ...
1465                  3                23                   4
1466                  3                 6                   4
1467                  4                 4                   1
1468                  3                 2                   2
1469                  3                 8                   2

      RelationshipSatisfaction  EnvironmentSatisfaction  Education
0                            1                        2          2
1                            4                        3          1
2                            2                        4          2
3                            3                        4          4
4                            4                        1          1
...                        ...                      ...        ...
1465                         3                        3          2
1466                         1                        4          1
1467                         2                        2          3
1468                         4                        4          3
1469                         1                        2          3

[1470 rows x 10 columns]>

In [16]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary

In [15]:
# Create a StandardScaler
X_scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
# Create a OneHotEncoder for the Department column
enc = OneHotEncoder(sparse_output=False)
#encoded_data = encoder.fit_transform(X_df[['Department']])
# Fit the encoder to the training data
encode_df = pd.DataFrame(enc.fit_transform(y_df['Department']))

# Create two new variables by applying the encoder
# to the training and testing data

encode_df.columns = enc.get_feature_names_out((X_train_scaled), (X_test_scaled))
encode_df.head()

ValueError: Expected a 2-dimensional container but got <class 'pandas.core.series.Series'> instead. Pass a DataFrame containing a single row (i.e. single sample) or a single column (i.e. single feature) instead.

In [12]:
# Create a OneHotEncoder for the Attrition column


# Fit the encoder to the training data


# Create two new variables by applying the encoder
# to the training and testing data

## Create, Compile, and Train the Model

In [14]:
# Find the number of columns in the X training data


# Create the input layer


# Create at least two shared layers

In [15]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

In [16]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

In [17]:
# Create the model


# Compile the model


# Summarize the model

In [18]:
# Train the model

In [19]:
# Evaluate the model with the testing data

In [20]:
# Print the accuracy for both department and attrition

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.